<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LeadWomb.Data.Properties.Settings.LeadPoliceConnectionString"
            connectionString="Data Source=10.0.0.3;Initial Catalog=LeadPolice;User ID=LeadPolice;Password=modinagar"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>