
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="header-icon">
            <i class="fa fa-dashboard"></i>
        </div>
        <div class="header-title">
            <h1>VictorCalls Dashboard</h1>
            <small>Very detailed & featured admin.</small>
        </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div id="cardbox1">
                    <div class="statistic-box">
                        <i class="fa fa-user-plus fa-3x"></i>
                        <div class="counter-number pull-right">
                            <span class="count-number">{{leadsCount.currentLeadsCount}}</span>
                            <span class="slight">
                                <i class="fa fa-play fa-rotate-270"> </i>
                            </span>
                        </div>
                        <h3><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-ng-click="showLeads(16,'New Leads')">New Leads</button></h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div id="cardbox2">
                    <div class="statistic-box">
                        <i class="fa fa-user-secret fa-3x"></i>
                        <div class="counter-number pull-right" >
                            <span class="count-number">{{leadsCount.noWorkCount}}</span>
                            <span class="slight">
                                <i class="fa fa-play fa-rotate-270"> </i>
                            </span>
                        </div>
                        <h3><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-ng-click="showLeads(2,'No Work')">No Work</button></h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div id="cardbox3">
                    <div class="statistic-box">
                        <i class="fa fa-user-secret fa-3x"></i>
                        <div class="counter-number pull-right">
                            <i class="ti ti-money"></i><span class="count-number">{{leadsCount.notConnectedCount}}</span>
                            <span class="slight">
                                <i class="fa fa-play fa-rotate-270"> </i>
                            </span>
                        </div>
                        <h3><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-ng-click="showLeads(3,'Not Connected')">Not Connected</button></h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div id="cardbox4">
                    <div class="statistic-box">
                        <i class="fa fa-user-secret fa-3x"></i>
                        <div class="counter-number pull-right">
                            <span class="count-number">{{leadsCount.followUpsCount}}</span>
                            <span class="slight">
                                <i class="fa fa-play fa-rotate-270"> </i>
                            </span>
                        </div>s
                        <h3><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-ng-click="showLeads(4,'Follow Ups')">Follow Ups</button></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div id="cardbox2">
                    <div class="statistic-box">
                        <i class="fa fa-user-secret fa-3x"></i>
                        <div class="counter-number pull-right">
                            <span class="count-number">{{leadsCount.visitOnCounts}}</span>
                            <span class="slight">
                                <i class="fa fa-play fa-rotate-270"> </i>
                            </span>
                        </div>
                        <h3><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-ng-click="showLeads(5,'Visit On')">Visit On</button></h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div id="cardbox3">
                    <div class="statistic-box">
                        <i class="fa fa-user-secret fa-3x"></i>
                        <div class="counter-number pull-right">
                            <i class="ti ti-money"></i><span class="count-number">{{leadsCount.visitDoneCount}}</span>
                            <span class="slight">
                                <i class="fa fa-play fa-rotate-270"> </i>
                            </span>
                        </div>
                        <h3><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-ng-click="showLeads(6,'Visit Done')">Visit Done</button></h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div id="cardbox4">
                    <div class="statistic-box">
                        <i class="fa fa-user-secret fa-3x"></i>
                        <div class="counter-number pull-right">
                            <span class="count-number">{{leadsCount.visitDeadCount}}</span>
                            <span class="slight">
                                <i class="fa fa-play fa-rotate-270"> </i>
                            </span>
                        </div>
                        <h3><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-ng-click="showLeads(7,'Visit Done')">Visit Done</button></h3>
                    </div>
                </div>
            </div>
        
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
            <div id="cardbox1">
                <div class="statistic-box">
                    <i class="fa fa-user-secret fa-3x"></i>
                    <div class="counter-number pull-right">
                        <span class="count-number">{{leadsCount.otherProjectsCount}}</span>
                        <span class="slight">
                            <i class="fa fa-play fa-rotate-270"> </i>
                        </span>
                    </div>
                    <h3><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-ng-click="showLeads(8,'Other Projects')">Other Projects</button></h3>
                </div>
            </div>
        </div>
            </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div id="cardbox1">
                    <div class="statistic-box">
                        <i class="fa fa-user-secret fa-3x"></i>
                        <div class="counter-number pull-right">
                            <span class="count-number">{{leadsCount.resaleCount}}</span>
                            <span class="slight">
                                <i class="fa fa-play fa-rotate-270"> </i>
                            </span>
                        </div>
                        <h3><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-ng-click="showLeads(9,'Resale')">Resale</button></h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div id="cardbox2">
                    <div class="statistic-box">
                        <i class="fa fa-user-secret fa-3x"></i>
                        <div class="counter-number pull-right">
                            <span class="count-number">{{leadsCount.alreadyBookedCount}}</span>
                            <span class="slight">
                                <i class="fa fa-play fa-rotate-270"> </i>
                            </span>
                        </div>
                        <h3><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-ng-click="showLeads(10,'Already Booked')">Already Booked</button></h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div id="cardbox3">
                    <div class="statistic-box">
                        <i class="fa fa-user-secret fa-3x"></i>
                        <div class="counter-number pull-right">
                            <i class="ti ti-money"></i><span class="count-number">{{leadsCount.bookedDone}}</span>
                            <span class="slight">
                                <i class="fa fa-play fa-rotate-270"> </i>
                            </span>
                        </div>
                        <h3><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-ng-click="showLeads(11,'Booking Done')">Booking Done</button></h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div id="cardbox4">
                    <div class="statistic-box">
                        <i class="fa fa-user-secret fa-3x"></i>
                        <div class="counter-number pull-right">
                            <span class="count-number">{{leadsCount.deadCount}}</span>
                            <span class="slight">
                                <i class="fa fa-play fa-rotate-270"> </i>
                            </span>
                        </div>
                        <h3><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-ng-click="showLeads(12,'Dead')">Dead</button></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div id="cardbox1">
                    <div class="statistic-box">
                        <i class="fa fa-user-secret fa-3x"></i>
                        <div class="counter-number pull-right">
                            <span class="count-number">{{leadsCount.rentCount}}</span>
                            <span class="slight">
                                <i class="fa fa-play fa-rotate-270"> </i>
                            </span>
                        </div>
                        <h3><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-ng-click="showLeads(13,'Rent')">Rent</button></h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div id="cardbox2">
                    <div class="statistic-box">
                        <i class="fa fa-user-secret fa-3x"></i>
                        <div class="counter-number pull-right">
                            <span class="count-number">{{leadsCount.plotCount}}</span>
                            <span class="slight">
                                <i class="fa fa-play fa-rotate-270"> </i>
                            </span>
                        </div>
                        <h3><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-ng-click="showLeads(14,'Plot')">Plot</button></h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <div id="cardbox3">
                    <div class="statistic-box">
                        <i class="fa fa-user-secret fa-3x"></i>
                        <div class="counter-number pull-right">
                            <i class="ti ti-money"></i><span class="count-number">{{leadsCount.duplicateCount}}</span>
                            <span class="slight">
                                <i class="fa fa-play fa-rotate-270"> </i>
                            </span>
                        </div>
                        <h3><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-ng-click="showLeads(15,'Duplicate')">Duplicate</button></h3>
                    </div>
                </div>
            </div>
           
        </div>
        
        
        </section>
    <!-- /.content -->
