

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">My Dashboard</li>
    </ol>
    <!-- Icon Cards-->
    <div class="row">
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white  o-hidden h-100" style="background: linear-gradient(to bottom right, #33ccdd, #297cd0)">
                <div class="card-body">
                    <div class="card-body-icon">
                        <img src="assets\images\klkl.svg">
                    </div>
                    <div class="mr-5">{{leadsCount.rawLeadsCount}} Raw Leads!</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="" data-ng-click="showLeads(16,'Raw Leads')">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white  o-hidden h-100" style="background: linear-gradient(to bottom right, #FFA500, #FF7F50)">
                <div class="card-body">
                    <div class="card-body-icon">
                        <img src="assets\images\klkl.svg">
                    </div>
                    <div class="mr-5">{{leadsCount.currentLeadsCount}} New Leads</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" data-ng-click="showLeads(1,'New Leads')">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white o-hidden h-100" style="background: linear-gradient(to bottom right, #83DC0B, #63A905)">
                <div class="card-body">
                    <div class="card-body-icon">
                        <img src="assets\images\klkl.svg">
                    </div>
                    <div class="mr-5">{{leadsCount.noWorkCount}} No Work</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" data-ng-click="showLeads(2,'No Work')">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white o-hidden h-100" style="background: linear-gradient(to bottom right, #F2D243, #ffa700)">
                <div class="card-body">
                    <div class="card-body-icon">
                        <img src="assets\images\klkl.svg">
                    </div>
                    <div class="mr-5" style="text-shadow: 1px 1px grey; color:white;">{{leadsCount.notConnectedCount}} Not Connected</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" data-ng-click="showLeads(3,'Not Connected')">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white o-hidden h-100" style="background: linear-gradient(to bottom right, #33ccdd, #297cd0)">
                <div class="card-body">
                    <div class="card-body-icon">
                        <img src="assets\images\klkl.svg">
                    </div>
                    <div class="mr-5">{{leadsCount.followUpsCount}} Follow Ups</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" data-ng-click="showLeads(4,'Follow Ups')">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white o-hidden h-100" style="background: linear-gradient(to bottom right, #FFA500, #FF7F50)">
                <div class="card-body">
                    <div class="card-body-icon">
                        <img src="assets\images\klkl.svg">
                    </div>
                    <div class="mr-5">{{leadsCount.visitOnCount}} Visit On</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" data-ng-click="showLeads(5,'Visit On')">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white  o-hidden h-100" style="background: linear-gradient(to bottom right, #83DC0B, #63A905)">
                <div class="card-body">
                    <div class="card-body-icon">
                        <img src="assets\images\klkl.svg">
                    </div>
                    <div class="mr-5">{{leadsCount.visitDoneCount}} Visit Done</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" data-ng-click="showLeads(6,'Visit Done')">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white o-hidden h-100" style="background: linear-gradient(to bottom right, #F2D243, #ffa700)">
                <div class="card-body">
                    <div class="card-body-icon">
                        <img src="assets\images\klkl.svg">
                    </div>
                    <div class="mr-5" style="text-shadow: 1px 1px grey; color:white;">{{leadsCount.visitDeadCount}} Visit dead</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" data-ng-click="showLeads(7,'Visit Dead')">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white o-hidden h-100" style="background: linear-gradient(to bottom right, #33ccdd, #297cd0)">
                <div class="card-body">
                    <div class="card-body-icon">
                        <img src="assets\images\klkl.svg">
                    </div>
                    <div class="mr-5">{{leadsCount.otherProjectsCount}} Other Projects</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" data-ng-click="showLeads(8,'Other Projects')" >
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white o-hidden h-100" style="background: linear-gradient(to bottom right, #FFA500, #FF7F50)">
                <div class="card-body">
                    <div class="card-body-icon">
                        <img src="assets\images\klkl.svg">
                    </div>
                    <div class="mr-5">{{leadsCount.resaleCount}} Resale</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" data-ng-click="showLeads(9,'Resale')">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white o-hidden h-100" style="background: linear-gradient(to bottom right, #83DC0B, #63A905)">
                <div class="card-body">
                    <div class="card-body-icon">
                        <img src="assets\images\klkl.svg">
                    </div>
                    <div class="mr-5">{{leadsCount.alreadyBookedCount}} Alread Booked</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" data-ng-click="showLeads(10,'Already Booked')">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white o-hidden h-100" style="background: linear-gradient(to bottom right, #F2D243, #ffa700)">
                <div class="card-body">
                    <div class="card-body-icon">
                        <img src="assets\images\klkl.svg">
                    </div>
                    <div class="mr-5" style="text-shadow: 1px 1px grey; color:white;">{{leadsCount.bookedDone}} Booking Done</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" data-ng-click="showLeads(11,'Booking Done')">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white o-hidden h-100" style="background: linear-gradient(to bottom right, #33ccdd, #297cd0)">
                <div class="card-body">
                    <div class="card-body-icon">
                        <img src="assets\images\klkl.svg">
                    </div>
                    <div class="mr-5">{{leadsCount.deadCount}} Dead</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" data-ng-click="showLeads(12,'Dead')">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white o-hidden h-100" style="background: linear-gradient(to bottom right, #FFA500, #FF7F50)">
                <div class="card-body">
                    <div class="card-body-icon">
                        <img src="assets\images\klkl.svg">
                    </div>
                    <div class="mr-5">{{leadsCount.rentCount}} Rent</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" data-ng-click="showLeads(13,'Rent')">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white o-hidden h-100" style="background: linear-gradient(to bottom right, #83DC0B, #63A905)">
                <div class="card-body">
                    <div class="card-body-icon">
                        <img src="assets\images\klkl.svg">
                    </div>
                    <div class="mr-5">{{leadsCount.plotCount}} Plot</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" data-ng-click="showLeads(14,'Plot')">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white o-hidden h-100" style="background: linear-gradient(to bottom right, #F2D243, #ffa700)">
                <div class="card-body">
                    <div class="card-body-icon">
                        <img src="assets\images\klkl.svg">
                    </div>
                    <div class="mr-5" style="text-shadow: 1px 1px grey; color:white;">{{leadsCount.duplicateCount}} Duplicate</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" data-ng-click="showLeads(15,'Duplicate')">
                    <span class="float-left">View Details</span>
                    <span class="float-right">
                        <i class="fa fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>




