
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Project Name</th>
                    <th>Phone Number</th>
                    <th>Assigned To</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="lead in leads">
                    <td>
                        {{ lead.Name }}
                    </td>
                    <td>
                        {{ lead.ProjName }}
                    </td>
                    <td>
                        {{ lead.phoneNumber }}
                    </td>
                    <td>
                        {{ lead.AssignedTo }}
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-2">
        &nbsp;
    </div>
</div>
